annotated-doc
annotated-types
anyio
bcrypt
beautifulsoup4
cachetools
certifi
cffi
charset-normalizer
chromadb
click
colorama
cryptography
deprecated
dnspython
ecdsa
email-validator
exceptiongroup
fastapi
google-ai-generativelanguage
google-api-core
google-auth
google-generativeai
googleapis-common-protos
greenlet
grpcio
grpcio-status
gunicorn
h11
httpcore
httptools
httpx
idna
importlib-resources
jinja2
langchain
langchain-chroma
langchain-classic
langchain-community
langchain-core
langchain-ollama
langchain-openai
langchain-text-splitters
limits
MarkupSafe
mlflow
packaging
passlib
proto-plus
protobuf
pyasn1
pyasn1-modules
pycparser
pydantic
pydantic-core
pypdf
PyPDF2
python-docx
python-dotenv
python-jose
python-multipart
PyYAML
requests
rsa
sentence-transformers
six
slowapi
sniffio
sqlalchemy
starlette
typing-extensions
urllib3
uvicorn
websockets
wrapt
zipp